/* General Styles */
::selection {
  background-color: #c94061;
  color: white;
}

body {
  font-size: 40px;
  font-weight: 400;
  line-height: 120%;
  margin: 40px 120px 0;
  background-color: #fbfbf9;
  color: #c94061;
}

.div-1 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 760px;
  height: 100%;
}

.div-2 {
  margin-top: 40px;
}

h1 {
  font-size: 3em;
  margin: 20px 0 0;
}

#cute {
  font-size: 40px; /* Corrected selector */
}

.temporary-content {
  gap: 40px;
  opacity: 0.75; /* Changed to decimal value */
}

.div-3 {
  gap: 0;
  margin-top: 180px;
}

h5 {
  margin: 0;
}

.link {
  text-decoration: none;
  color: #c94061;
}

.link:hover {
  background-color: #c94061;
  color: #fbfbf9;
  opacity: 0.5; /* Changed to decimal value */
  transition: 450ms ease-in-out;
}

.copyright {
  font-size: 0.5em;
  line-height: 120%;
  margin: 36px 0 0;
  opacity: 0.75; /* Changed to decimal value */
}

/* Media Query for Responsive Design */
@media only screen and (max-width: 768px) {
  body {
    font-size: 28px;
    margin: 20px;
  }

  h1 {
    font-size: 2.25em;
  }

  .div-1 {
    width: auto; /* Changed width */
  }

  p {
    margin-top: 40px;
  }

  .div-2 {
    margin-top: 28px;
  }

  .div-3 {
    font-size: 1em;
    margin-top: 40px;
  }

  .copyright {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    font-size: 0.45em;
    text-transform: uppercase;
  }
}
